.container {
    width: 100%;
    height: 400px;

    margin: 0 15px 0 15px;
    padding: 0 15px 25px 15px;

    background-color: var(--white-color);
    border-radius: 1rem;

    overflow-y: auto;

    @media (max-width: 399px) {
        max-width: 300px;
    }

    @media (min-width: 400px) {
        max-width: 400px;
    }
}