input[type='text'] {
    font-family: var(--font-family);
    font-size: var(--font-size);

    width: 100%;
    padding: 10px 8px 10px 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border: 1px solid var(--gray-color);
    border-radius: 0.4rem;

    transition: color 0.5s, border-color 0.5s;

    &:focus {
        color: var(--black-color);
        border-color: var(--black-color);
        outline: none;
        &::placeholder {
            color: var(--black-color);
        }
    }

    &::placeholder {
        color: var(--gray-color);
        transition: color 0.5s;
    }
}