:root {
    --font-family: 'Roboto', sans-serif;
    --font-size: 16px;

    --gradient-direction: to left;
    --gradient-color-1: #4568dc;
    --gradient-color-2: #b06ab3;

    --border-radius: 1rem;
    --padding: 1rem;
    --black-color: #333;
    --white-color: #fff;
    --gray-color: #b4b4b4;
    --red-color: #d14;

    @media (max-width: 319px) {
        --font-size: 15px;
    }
}

::-webkit-scrollbar {
    display: none;
}