.todo {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;

    &-title {
        width: 98%;
        word-break: break-word;
        text-align: justify;
    }

    &-completed {
        color: var(--gray-color);
        text-decoration: line-through;
    }

    &:last-child {
        margin: 20px 0 0 0;
    }
}