<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=vietnamese" rel="stylesheet">
    <title>S-Note: Ứng dụng ghi chú</title>
    <meta name="author" content="Chu Phong">

</head>
<body>
    <noscript>
        <strong>Trình duyệt bạn vui lòng bật javascript.</strong>
    </noscript>
    <div id="UngDung"></div>
</body>
</html>
