<template>
    <div class="container">
        <header>
            <h1>Ghi Chú</h1>
            <small>Copyright &copy; Chu Phong - 2018</small>
        </header>

        <div class="count">
            <div class="all">Tổng: {{ this.list.length }}</div>
            <div class="wait">Chưa làm: {{ this.list.filter(list => {
                    return list.finish === false;
                }).length }}</div>
            <div class="finish">Đã hoàn thành: {{ this.list.filter(list => {
                    return list.finish === true;
                }).length }}</div>
        </div>

        <label for="inputTodo"></label>
        <input id="inputTodo" type="text" autocomplete="off" placeholder="Nhập thêm công việc" v-model="inputTodo"
               @keyup.enter="Add" maxlength="255">

        <div class="helper" v-show="showError">Nhiệm vụ đã tồn tại, vui lòng nhập lại.</div>

        <div class="divider"></div>

        <div class="todo" v-for="item of list" v-bind:key="item.id">
            <p-check class="p-svg p-round p-plain p-jelly" color="success" v-model="item.finish">
                <span class="svg" uk-icon="icon: check"></span>
            </p-check>

            <div class="todo-title" v-bind:class="{'todo-completed': item.finish}">
                {{ item.title }}
            </div>
        </div>

    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component()
export default class Home extends Vue {
    inputTodo = '';

    list = [];

    showError = false;

    Check(inputTodo) {
        for (let item of this.list) {
            if (item.title === inputTodo) {
                return true;
            }
        }
        return false;
    }

    Add() {
        const Task = {
            title: this.inputTodo,
            finish: false
        };

        if (!this.Check(this.inputTodo)) {
            this.list.unshift(Task);
            this.showError = false;
        } else {
            this.showError = true;
        }
        this.inputTodo = '';
    }
}
</script>

<style lang="scss">
@import '../assets/home';

.count {
    display: flex;
    margin: 0 0 20px 0;
    .all {
        flex-basis: 50%;
    }
    .wait {
        flex-basis: 50%;
    }
    .finish {
        flex-basis: 50%;
    }
    @media (max-width: 446px) {
        flex-wrap: wrap;
        .finish {
            margin-top: 20px;
        }
    }
}
</style>
