@import '~normalize.css';
@import 'core/checkbox';
@import 'core/root';

html,
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#UngDung {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
                    var(--gradient-direction),
                    var(--gradient-color-1),
                    var(--gradient-color-2)
    );
}