@import 'core/container';
@import 'core/input';
@import 'core/divider';
@import 'components/todo';

// Custom
.pretty .state label {
    &:before, &:after {
        top: calc((0% - (100% - 1em)) - 4%) !important;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    small {
        margin-left: auto;
        @media (max-width: 350px) {
            margin: 0 20px 20px 20px;
        }
    }
}

.helper {
    margin: 20px 0 20px 0;
    color: var(--red-color);
}