<template>
    <div id="UngDung">
        <Home />
    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import Home from './views/Home';
@Component({
    components: {
        Home: Home
    }
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import 'assets/app';
</style>
